{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Boby on Boby generator</title>
</head>
<body style='font-family: "Comic Sans MS"'>
    {% block content %}
    <table>
        <thead>
            <tr>
                <td>Person</td>
                <td>Next OneOnOne</td>
                <td>Mark as done</td>
            </tr>
        </thead>
        <tbody>
            {% for boby in boby_list %}
            <form action="{% url 'save' %}" method="POST">
                {% csrf_token %}
                <tr>
                    <td>{{ boby }}</td>
                    <td>{{ boby.next | default:"You're good" }}</td>
                    <td>{% if boby.next %}<button type="submit">Done</button>{% endif %}<td>
                </tr>
                <input type="hidden" name="boby_pk" value="{{ boby.id }}">
                <input type="hidden" name="buddy_pk" value="{{ boby.next.id }}">
            </form>
            {% endfor %}
        </tbody>
    </table>
        {% if user.is_authenticated %}
            <a href="{% url 'logout' %}">Hasta la vista baby</a>
            <a href="{% url 'profile' %}">My profile</a>
        {% else %}
            <a href="{% url 'login' %}">login</a>
        {% endif %}
    {% endblock content %}
    <p>
    </p>
    <script source="{% static 'js/jquery.min.js' %}">
    <script source="{% static 'js/js.cookies.js' %}">
    <script source="{% static 'js/ajax.js' %}">
</body>
</html>
