<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Boby on Boby generator</title>
</head>
<body style='font-family: "Comic Sans MS"'>
    <table>
        <thead>
            <tr>
                <td>Boby</td>
                <td>Buddy</td>
                <td>Date</td>
            </tr>
        </thead>
        <tbody>
            {% for boby in boby_list %}
            <tr>
                <td>{{ boby }}</td>
                <td>{{ boby.next }}</td>
                <td><input type="date" name=date_{{ forloop.counter }}></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
