{% extends 'base.html' %}
{% block content %}
<p>I am {{ boby }}, and I shall OneonOne with:</p>
<ul>
{% for candidate in candidates %}
    <form action="{% url 'save' %}" method="POST">
        {% csrf_token %}
        <li>{{ candidate }}
            <button type="submit">Done</button>
        </li>
        <input type="hidden" name="boby_pk" value="{{ user.id }}">
        <input type="hidden" name="buddy_pk" value="{{ candidate.id }}">
        <input type="hidden" name="create_relation" value="True">
        <input type="hidden" name="next" value="{% url 'candidates' username='me' %}">
    </form>
{% endfor %}
</ul>
{% endblock content %}
